# Looking at the historical US market returns

## Imports

In [53]:
import pandas as pd
import matplotlib.pyplot as plt

## Data

In [54]:
df = pd.read_excel('../data/shiller_sp500.xls', sheet_name='Data')
print(df)

                                             Unnamed: 0  \
0     Stock Market Data Used in "Irrational Exuberan...
1                                    Robert J. Shiller
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1863                                            2025.09
1864                                             2025.1
1865                                            2025.11
1866                                            2025.12
1867                                                NaN

                      Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                            NaN        NaN        NaN
1                            NaN        NaN        NaN
2                            NaN        NaN        NaN
3                            NaN        NaN        NaN
4                            S&P        NaN        NaN
...                          ...        ...        ...
1863                 6584.018095      78.48     235.25
1864                 6735.691739        NaN        NaN
1865                 6740.885789        NaN        NaN
1866                     6812.63        NaN        NaN
1867  Dec price is Dec 1st close        NaN        NaN

                     Unnamed: 4   Unnamed: 5                 Unnamed: 6  \
0                           NaN          NaN                        NaN
1                           NaN          NaN                        NaN
2                           NaN          NaN                        NaN
3                      Consumer          NaN                        NaN
4                         Price          NaN                       Long
...                         ...          ...                        ...
1863                      324.8  2025.708333                       4.12
1864                    325.212  2025.791667                       4.06
1865                    325.418     2025.875                       4.09
1866                    325.521  2025.958333                       4.02
1867  Oct/Nov/Dec CPI estimated          NaN  Dec GS10 is Dec 1st value

       Unnamed: 7 Unnamed: 8      Unnamed: 9  ... Unnamed: 12 Unnamed: 13  \
0             NaN        NaN             NaN  ...  Cyclically         NaN
1             NaN        NaN             NaN  ...    Adjusted         NaN
2             NaN        NaN             NaN  ...       Price         NaN
3             NaN        NaN            Real  ...    Earnings         NaN
4             NaN        NaN           Total  ...       Ratio         NaN
...           ...        ...             ...  ...         ...         ...
1863  6596.545568  78.629325  4461070.187983  ...   38.580387         NaN
1864  6739.958348        NaN  4558056.477506  ...   39.205692         NaN
1865  6740.885789        NaN  4558683.681574  ...   39.115958         NaN
1866  6810.474376        NaN  4605744.611486  ...   39.419353         NaN
1867          NaN        NaN             NaN  ...         NaN         NaN

             Unnamed: 14  Unnamed: 15 Unnamed: 16  Unnamed: 17 Unnamed: 18  \
0            Cyclically           NaN         NaN          NaN         NaN
1               Adjusted          NaN         NaN          NaN         NaN
2     Total Return Price          NaN         NaN          NaN         NaN
3               Earnings          NaN         NaN      Monthly        Real
4                  Ratio          NaN      Excess        Total       Total
...                  ...          ...         ...          ...         ...
1863           41.330933          NaN    0.016326     1.008325   40.383933
1864            41.94217          NaN     0.01669     1.000941   40.668527
1865           41.822057          NaN    0.016732     1.009125   40.681031
1866           42.122592          NaN    0.017621          NaN   41.039275
1867                 NaN          NaN         NaN          NaN         NaN

     Unnamed: 19 Unnamed: 20   Unnamed: 21
0            NaN         NaN           NaN
1            NaN         NaN           NaN
2            NaN         NaN           NaN
3            NaN         NaN           NaN
4        10 Year     10 Year  Real 10 Year
...          ...         ...           ...
1863         NaN         NaN           NaN
1864         NaN         NaN           NaN
1865         NaN         NaN           NaN
1866         NaN         NaN           NaN
1867         NaN         NaN           NaN

[1868 rows x 22 columns]